  .temperature-img-small {
    width: 60px;
    height: 60px;
  }
  .temp-small-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    background-color: rgba(62, 240, 240, 0.055);
    border-radius: 1rem;
    padding: 1rem;
    max-height: 80%;
  }
  .temp-small-item {
    font-size: .8rem;
    margin: .4rem;
  }
  @media only screen and (max-width: 740px) {
    .temp-small-box {
      padding: 0;
      flex-direction: row;
    }
}