  .temperature-img-small {
    width: 40px;
    height: 40px;
  }
  .temp-small-box {
    display: grid;
    grid-template-rows: 40% 50%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30%;
    justify-content: center;
    align-items: center;
    background-color: rgba(62, 240, 240, 0.055);
    border-radius: 1rem;
    padding: 0 2rem;
  }
  @media only screen and (min-width: 900px) {
    .temp-small-box {
      padding: .5rem 1rem;
    }
  }
  .temp-small-hour {
    font-size: 1.2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    text-align: center;
  }

  .temp-small-item {
    font-size: 1rem;
  }